    
    * {

        box-sizing: border-box;
  
    }
    .selector-for-some-widget {
        box-sizing: content-box;
      }
    .nav {
        margin-top: 50px;
    }
    .carousel-item img {
        width: 100%;
        height: 100%;

    }
    #main {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #main div {
        margin-bottom: 20px;
    }
    #main img {
        width: 100%;
        height: 100%;
    }
    #content img {
        width: 100%;
        height: 90%;
    }
    #main-text img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #chi-tiet {
        width: 80%;
    }
    #chi-tiet h1 {
        text-align: center;
    }
    #chi-tiet img {
        display:block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    
    @media screen and (max-width:991px) {
        #top .logo {
            display: none;
        }
        #main-text img {
            width: 100%;
            height: auto;
        }
    }
    
